/*
* Theme Name: Time Travel - Timeline WordPress Theme
* Theme Author: Andrey Boyadzhiev / flasherland.com
*
* Description: Time Travel Wordpress Theme is a next generation 
* website, developed both on the edge of technology and design. 
* The built-in voice control makes it both revolutionary and at the same time super intuitive to use. 
*
* Version: 1.0 
*/
@media screen and (max-width: 999px), screen and  (max-height: 409px)  {
.ss-stand-alone{
	max-width:790px;
	position: relative;
	left:50%;
	margin-left:-395px;
}
#main .ss-stand-alone{
	width:790px; 
	position:absolute;
}
.ss-stand-alone .ss-nav {
	left: 50%;
	margin-left:-405px;
	max-width: 810px;
}
.sbleft, .sbright{
	width:230px;
}
.sbrightnofx {
	right:-260px;
}
.sbleftnofx {
	left:-260px;
}
.sblefton{
	width:530px;
}
.iscomm{
	width:100%;
	margin-bottom:23px;
}
.tt-cn-style.right-content, .tt-cn-style.left-content{
	float:left;
	margin-bottom:55px;
}
.tt-cn-style.right-content, .tt-cn-style.left-content {
	width: 100%;
	padding-bottom: 10px;
}
#main .tt-cn-style.right-content, #main .tt-cn-style.left-content {
	padding-bottom: 0px;
}
.right-content  .tt-arrow-side, .left-content  .tt-arrow-side {
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -14px;
	z-index: -1;
	width: 0px;
	height: 0px;
	border-width: 20px 15px 0 15px;
}
.right-content  .tt-arrow-dot, .left-content  .tt-arrow-dot  {
	right: 50%;
	margin-right: -25px;
	bottom: -52px;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}
.left-content  .tt-arrow-dot  {
	left: 50%;
}
.infoisoff{
	margin-bottom:23px;
}
.center-content .infoisoff{
	margin-bottom:13px;
}
.infoison{
	margin-bottom:8px;
}
#main .tt-cn-style.right-content.is-circle, #main .tt-cn-style.left-content.is-circle{
	width: 100%;
	padding-bottom: 10px;
	float: left;
}
.center-content .infoison{
	margin-bottom: 13px;
}
.tt-cn-style.center-content.nonfull{
	width:100%;
	margin-left:0;
}
.flickr_badge_image {
margin: 0 15px 10px 15px!important;
}
}

@media screen and (max-width: 810px) , screen and  (max-height: 409px) {
.ss-stand-alone{
	max-width:100%;
	width:100%;
	position: relative;
	left:0%;
	margin-left:0px;
}
.ss-nav {
	position: absolute;
	left: 0px;
	padding-top:18px;
	width: 100%;
	z-index: 100;
}
.ss-stand-alone .ss-nav {
	left: 0%;
	margin-left:0px;
	width: 100%;
}
.comments-add-new {
	width:100%; 
	padding-left:0px; 
	margin-top:-40px;
}
.comments-small-avatar, .comments-big-avatar, .rsphide, .children .time-dot {
	display:none;
}
.children .comments-c-top {
	padding-top:5px;
}
.comment-avatarin{
	display:block;
	float:left;
	padding-right:20px;
	padding-top:10px;
}
.sblefton, .sbrighton{
	width:100%;
	float:right!important;	
}
.sbleft, .sbright{
	width:100%;
	max-width:100%;
	float:left!important;
	position:static;
	margin-top:15px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
}
.bottom-nav-hide{
	display:none;
	visibility:hidden;
}
#firsts .user-holder{
	display:none;
}
.c-comment{
	margin-top:0px!important;
	margin-bottom:15px!important;
}
.fb-padding {
	margin-top:0px!important;
	margin-bottom:15px!important;
	
}
.fb-paddingfx{
	margin-bottom:0px!important;
	margin-top:15px!important;
}
.dk_toggle{
	min-width:140px;
}
.dl-menuwrapper{
	max-width:none;
	width:100%;
	left:0;
}
.turquoise #tt-h-one .gray-container{
	background: #52ccb3!important;
	background: rgba(82,204,179, 0.8)!important;
}
.greensea #tt-h-one .gray-container{
	background: #4eb7a3!important;
	background:rgba(78,183,163, 0.8)!important;
}
.emerald #tt-h-one .gray-container{
	background: #5fd892!important;
	background: rgba(95,216,146, 0.8);
}
.nephritis #tt-h-one .gray-container{
	background: #4fb77c!important;
	background: rgba(79, 183, 124, 0.8)!important;
}
.amethyst #tt-h-one .gray-container{
	background: #b281c7!important;
	background: rgba(178,129,199, 0.8)!important;
}
.wisteria #tt-h-one .gray-container{
	background: #a871c1!important;
	background: rgba(168,113,193, 0.8)!important;
}
.peterriver #tt-h-one .gray-container{
	background: #65b1e4!important;
	background: rgba(101,177,299, 0.8)!important;
}
.belizehole #tt-h-one .gray-container{
	background: #5d9ec9!important;
	background: rgba(93,158,201, 0.8)!important;
}
.sunflower #tt-h-one .gray-container{
	background: #f4d248!important;
	background: rgba(244,210,72, 0.8)!important;
}
.orange #tt-h-one .gray-container{
	background: #f6b44a!important;
	background: rgba(246,180,74, 0.8)!important;
}
.carrot #tt-h-one .gray-container{
	background: #ec9e57!important;
	background: rgba(236,158,87, 0.8)!important;
}
.pumpkin #tt-h-one .gray-container{
	background: #dd7d3d!important;
	background: rgba(221,125,60, 0.8)!important;
}
.wetasphalt #tt-h-one .gray-container{
	background: #657585!important;
	background: rgba(101,117,133, 0.8)!important;
}
.midnightblue #tt-h-one .gray-container{
	background: #566576!important;
	background: rgba(86,101,108, 0.8)!important;
}
.alizarin #tt-h-one .gray-container{
	background: #ee776b!important;
	background: rgba(238,119,107, 0.8)!important;
}
.pomegranate #tt-h-one .gray-container{
	background: #d0685e!important;
	background: rgba(208,104,94, 0.8)!important;
}
.concrete #tt-h-one .gray-container{
	background: #aebbbb!important;
	background: rgba(174,187,187, 0.8)!important;
}
.asbestos #tt-h-one .gray-container{
	background: #96a2a2!important;
	background: rgba(150,162,162, 0.8)!important;
}
.gglass #tt-h-one .gray-container{
	background: rgba(0,0,0, 0.4)!important;
}
#firsts .turquoise .tt-nopadding .nano .cscrol, #firsts .turquoise .tt-nopadding #tt-h-two{
	border-color:rgba(82,204,179, 0.8);
}
#firsts .greensea .tt-nopadding .nano .cscrol, #firsts .greensea .tt-nopadding #tt-h-two{
	border-color:rgba(78,183,163, 0.8);
}
#firsts .emerald .tt-nopadding .nano .cscrol, #firsts .emerald .tt-nopadding #tt-h-two{
	border-color:rgba(95,216,146, 0.8);
}
#firsts .nephritis .tt-nopadding .nano .cscrol, #firsts .nephritis .tt-nopadding #tt-h-two{
	border-color:rgba(79, 183, 124, 0.8);
}
#firsts .amethyst .tt-nopadding .nano .cscrol, #firsts .amethyst .tt-nopadding #tt-h-two{
	border-color:rgba(178,129,199, 0.8);
}
#firsts .wisteria .tt-nopadding .nano .cscrol, #firsts .wisteria .tt-nopadding #tt-h-two{
	border-color:rgba(168,113,193, 0.8);
}
#firsts .peterriver .tt-nopadding .nano .cscrol, #firsts .peterriver .tt-nopadding #tt-h-two{
	border-color:rgba(101,177,299, 0.8);
}
#firsts .belizehole .tt-nopadding .nano .cscrol, #firsts .belizehole .tt-nopadding #tt-h-two{
	border-color:rgba(93,158,201, 0.8);
}
#firsts .sunflower .tt-nopadding .nano .cscrol, #firsts .sunflower .tt-nopadding #tt-h-two{
	border-color:rgba(244,210,72, 0.8);
}
#firsts .orange .tt-nopadding .nano .cscrol, #firsts .orange .tt-nopadding #tt-h-two{
	border-color:rgba(246,180,74, 0.8);
}
#firsts .carrot .tt-nopadding .nano .cscrol, #firsts .carrot .tt-nopadding #tt-h-two{
	border-color:rgba(236,158,87, 0.8);
}
#firsts .pumpkin .tt-nopadding .nano .cscrol, #firsts .pumpkin .tt-nopadding #tt-h-two{
	border-color:rgba(221,125,60, 0.8);
}
#firsts .wetasphalt .tt-nopadding .nano .cscrol, #firsts .wetasphalt .tt-nopadding #tt-h-two{
	border-color:rgba(101,117,133, 0.8);
}
#firsts .midnightblue .tt-nopadding .nano .cscrol, #firsts .midnightblue .tt-nopadding #tt-h-two{
	border-color:rgba(86,101,108, 0.8);
}
#firsts .alizarin .tt-nopadding .nano .cscrol, #firsts .alizarin .tt-nopadding #tt-h-two{
	border-color:rgba(238,119,107, 0.8);
}
#firsts .pomegranate .tt-nopadding .nano .cscrol, #firsts .pomegranate .tt-nopadding #tt-h-two{
	border-color:rgba(208,104,94, 0.8);
}
#firsts .concrete .tt-nopadding .nano .cscrol, #firsts .concrete .tt-nopadding #tt-h-two{
	border-color:rgba(174,187,187, 0.8);
}
#firsts .asbestos .tt-nopadding .nano .cscrol, #firsts .asbestos .tt-nopadding #tt-h-two{
	border-color:rgba(150,162,162, 0.8);
}
.turquoise .tt-content-bg, .greensea .tt-content-bg, .emerald .tt-content-bg, .nephritis .tt-content-bg, .amethyst .tt-content-bg, .wisteria .tt-content-bg, .peterriver .tt-content-bg, .belizehole .tt-content-bg, .sunflower .tt-content-bg, .orange .tt-content-bg, .carrot .tt-content-bg, .pumpkin .tt-content-bg, .wetasphalt .tt-content-bg, .midnightblue .tt-content-bg, .alizarin .tt-content-bg, .pomegranate .tt-content-bg, .concrete .tt-content-bg, .asbestos .tt-content-bg{
	background:none;
}
#firsts .tt-nopadding .nano .cscrol {
	border-bottom: 2px solid;
}
section.bespoke-inactive .ss-full, section.bespoke-inactive .circle-img  {
	pointer-events: auto;	
}
#footer-time{
	display:none;
}
.widg-row-one{
	width:100%; 
	padding-right:0%; 
}
.widg-row-two{
	width:100%; 
	padding-left:0%;
}
#tt-voice-c{
	display:none;
}
.tt-bottom-nav{
	border-right: none;
	border-left: 1px solid rgba(255,255,255,0.3);
}
.flexslider{
	overflow:hidden;
}
.breadcrumbs{
	display:none;
	visibility:hidden;
}
}

@media screen and  (max-width: 530px), screen and  (max-height: 409px)   {
#firsts .tt-nopadding #tt-h-two{
	border-bottom: 2px solid;	
}
#main{
	margin-top:-20px;
	position:static;
}
.circle-img{
	position:relative;
	left:50%;
	margin-left:-140px;
	height:290px;
	width:280px;
	margin-bottom:18px;
}
.circle-img .ch-grid li {
	width: 280px;
	height: 280px;
}
.circle-img .ch-info {
	width: 242px;
	height: 242px;
	margin-top:-1px;
	margin-left:-1px;
}
.ch-item {
	background:330px;
}
.circle-img .ch-info-wrap {
	top: 20px;
	left: 20px;
	width:240px;
	height:240px;
}
.ch-info h3 {
	font-size:18px!important;
	line-height:16px;
	margin: 0 15px;
	margin-left:24px;
	margin-right:24px;
	padding: 46px 0px 10px 0px;
	height: auto; 
}
.ch-info h3 a{
	font-size:18px!important;
	line-height:18px;
}
.ch-info p {
	padding: 10px 5px 0;
	max-height:86px;
	overflow:hidden;
	margin: 0 30px;
	font-size: 12px;
}
.ch-info .empty-left{
	display:none;
}
.circle-img .cell{
	z-index:10; 
	top:190px; 
	right:48px;
}
.circle-img .ribbon {
	top:95px; 
	left:0px;
}
.ss-row-f .widget{
	width:98%;
}
section.bespoke-inactive .ss-row {
	pointer-events: auto;
}
article {	
	-webkit-perspective: 0px;
	-moz-perspective: 0px;
	-ms-perspective: 0px;
	-o-perspective: 0px;
	perspective: 0px;
	position: static!important;
	width:100%;
	min-width:100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin-bottom:30px;
}
section {
	border-radius: 5px;
	width: 96%;
	padding-left:2%;
	padding-bottom:0px;
	position: static!important;
	top: 0%!important;
	left: 0%!important;
	margin-left:0;
	margin-top:0;
	height:100%;
	opacity: 1!important;
	-webkit-transform:none!important;
	-moz-transform:none!important;
	-o-transition:none!important;
	-ms-transition:none!important;
	transition:none!important;
	clear:both;
	-webkit-filter:none!important;
	visibility:visible!important;
	display:block!important;
}
#articlehold section{
	padding-top:5px;
	padding-bottom:10px;

}
.ss-stand-alone {
	position:static!important;
}
#main .ss-stand-alone{
	max-width:100%;
	width:100%;
	position: relative;
	left:0%;
	margin-left:0px;
}
.single-post  section {
	position:static!important;
	top:0;
	float:left;
	left:0%;
	margin-left:0;
}
.nano{	
	position:static!important;
	width:100%;
	height:100%;
}
.nano > .pane{
	display:none!important;
	display:none;
}
.cscrol  {
	padding-right:0px;
	height:100%;
	position:static!important;
	overflow-x:hidden;
	overflow:visible!important;
	overflow-x:hidden;
}
.hidecomm{
	display:none;
}
#footer{
	position:static;
	height:auto;
	width:100%;
	padding-bottom:200px;
}
.bottom-nav{
	display:none;
	visibility:hidden;
}
.inifiniteLoader {  
    position: fixed;  
    z-index: 100;  
    bottom: 22px;  
	right:20px;
	margin:0;
	
} 
.inifiniteLoaderP {  
    position: fixed;  
    z-index: 100;  
    bottom: 42px;  
	right:20px;
	margin:0;
} 
.numpostinfi{
	visibility:hidden;	
	display:none;
}
.user-holder{
	display:none;
}
.iscomm{
	margin-bottom:15px;
}
.ss-row, ss-full{
	position:static!important;
}
.infoisoff{
	margin-bottom:30px;
}
.infoison, .center-content .infoison{
	margin-bottom:70px;
}
#firsts .comm-holder, #firsts .time-holder{
	display:none;
}
#firsts .icon-soc-container{
	position: relative;
	margin-top: 0;
}
#firsts .ss-full {
	padding-bottom: 26px;
	bottom:0;
}
#firsts .ss-full.tt-nopadding {
	padding-bottom: 30px;
	bottom:0;
}
.timedate, .share-box, .timedateafter, .tt-arrow-side, section:before, section:after, .center-content .tt-arrow-dot, .center-content .tt-arrow-side{
	position:relative;	
	float: left;
}
section:before{
	float: right;
	bottom: 45px;
	margin-top:-1px;
	display:none;
}
section:after{
	margin-top:-1px;
	margin-left: -76px;
	display:none;	
}
.timedate{
	bottom:0;
}
.share-box{
	bottom: 42px;
}
.timedateafter{
	bottom: 10px;
	margin-left: -60px;
	-webkit-backface-visibility: hidden;
}
.timedate:before{
	display:none;
}
.right-content  .tt-arrow-side, .left-content  .tt-arrow-side {
	position:relative;
	bottom: 30px;
	left: 50%;
	margin-left: -49px;
}
.center-content .tt-arrow-dot{
	left:50%;
	margin-left:-60px;
	bottom:0px;
}
.center-content .tt-arrow-side {
	bottom: 30px;
	margin-left: -49px;
}
.fb-holder .nano{
	height:auto;
}
.tt-cn-style{
	width:100%;
}
timelinepath{
	display:none;
}
.reslines{
	width: 100%;
	height: 4px;
	float: left;
	margin-top:-47px;
}
.reslines:before{
	content:""; 
	height:1px;
	background:-moz-linear-gradient(left, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%); 
	background:-webkit-linear-gradient(left, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%); 
	background:-ms-linear-gradient(left, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%);
	background:-o-linear-gradient(left, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%);
	background:linear-gradient(left, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%);
	width:50%;
	margin-left:-46px;
	display:block;
	position:relative;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.reslines:after{
	content: "";
	height: 1px;
	background:-moz-linear-gradient(right, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%); 
	background:-webkit-linear-gradient(right, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%); 
	background:-ms-linear-gradient(right, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%);
	background:-o-linear-gradient(right, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%);
	background:linear-gradient(right, rgba(255,255,255,0.0) 0%,rgba(255,255,255,0.5) 100%);
	width: 50%;
	left: 50%;
	margin-left: 46px;
	margin-top: -1px;
	display: block;
	position:relative;
	opacity: 1!important;
	-webkit-transition: all 0.25s;
	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
}
.openshare .reslines:after{
	-webkit-transition: all 0.25s;
  	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	margin-left:90px;
}
.openshare .reslines:before{
	-webkit-transition: all 0.25s;
  	-moz-transition: all 0.25s;
	-ms-transition: all 0.25s;
	-o-transition: all 0.25s;
	transition: all 0.25s;
	margin-left:-90px;
}
.comment .nano {
	overflow:auto;
	min-height:85px;
	max-height:none;
	z-index: 1;
	height:100%!important;
}
.greensea #tt-h-one .gray-container{
	background:none!important;
}
.right-content .tt-arrow-dot{
	left:50%;
	bottom: 0px;
	margin-left:-60px;
}
.left-content .tt-arrow-dot{
	margin-left: -60px;
	left:50%;
	bottom: 0px;
}
.tt-arrow-dot{
	float:left;
	position:relative;
	bottom: 0px;
}
.nav-header {
	top: -40px;
	height: 40px;
	font-size: 15px;
	line-height: 40px!important;
}
.menu-header-search{
	padding-top:2px;
	padding-bottom:2px;
}
.dl-menuwrapper li a {
	display: block;
	position: relative;
	padding: 5px 20px;
	font-size: 14px;
	line-height: 20px;
}
.dl-menuwrapper li.dl-back:after, .dl-menuwrapper li > a:not(:only-child):after{
	line-height: 30px; 
}
.dl-menuwrapper li.dl-back > a{
	padding: 5px 20px;
}

 .tt-bottom-nav, .timelinepath{
	display:none;
}
#ss-container {
	padding-top:31px;
}
#articlehold .tt-cn-style.left-content, #articlehold .tt-cn-style.right-content{
	margin-bottom:0;
}
.logo {
	width: 100%;
	text-align: center;
	position: relative;
	padding-bottom: 20px;
}
.copyrholder{
	width:100%;
	text-align:center;
	border:none;
	padding:0;
	margin:0;
}
.flickr_badge_image {
	margin: 0 11px 10px 11px!important;
}
.center-content .infoisoff{
	margin-bottom:30px;
}